/* Error: Undefined mixin.
 *    ,
 * 19 | /     @include button
 * 20 | |    }
 *    | '---^
 *    '
 *   sass\block\_header.scss 19:5  @import
 *   sass\block\blocks.scss 1:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 19 \2502  \250c      @include button\a 20 \2502  \2502     }\a    \2502  \2514 \2500 \2500 \2500 ^\a    \2575 \a   sass\\block\\_header.scss 19:5  @import\a   sass\\block\\blocks.scss 1:9    root stylesheet";
}
